name: STAT Test Automation

on:
  pull_request:
    branches:
        - main
        - test*
    paths:
        - 'classes/**'
        - 'modules/**'
        - 'shared/**'
        - 'tests/**'
        - 'requirements.txt'
        - 'host.json'

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10","3.11","3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest
      env:
        ALERTDATA: ${{ secrets.ALERTDATA }}
        BASEDATA: ${{ secrets.BASEDATA }}
        INCIDENTDATA: ${{ secrets.INCIDENTDATA }}
        SCORINGDATA: ${{ secrets.SCORINGDATA }}
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_ENDPOINT: management.azure.com
        GRAPH_ENDPOINT: graph.microsoft.com
        LOGANALYTICS_ENDPOINT: api.loganalytics.io
        M365_ENDPOINT: api.security.microsoft.com
        MDE_ENDPOINT: api.securitycenter.microsoft.com
        MDCA_ENDPOINT: ${{ secrets.MDCA_ENDPOINT }}
        DATE_FORMAT: ${{ secrets.DATE_FORMAT }}
        TIME_ZONE: ${{ secrets.TIME_ZONE }}
